<ion-header>
  <ion-navbar>
    <ion-title>Detalhes do Produto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="details-content">
  <div class="product-details">
    <ion-row class="product-main-data-row">
      <ion-col no-padding width-33>
        <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="product.thumbnail.url" alt="product.productname" title="product.productname"></preload-image>
      </ion-col>
      <ion-col no-padding *ngIf="product.canBeAddedToList">
        <ion-row class="details-action-row">
          <ion-col no-padding>
            <button ion-button block small  (click)="openModal(product)">
              Adicionar a Lista
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row wrap class="user-bio-row">
      <ion-col no-padding width-50>
        <h2 class="user-name">{{product.productname}}</h2>
      </ion-col>
      <ion-col no-padding width-50>
        <span class="user-location">Cód:{{product.id}}</span>
      </ion-col>
    </ion-row>
  </div>    
  <ion-list class="user-data-content" >
      <ion-item *ngFor="let item of product.specification.item">
        <h2 class="item-title">{{item.item.label}}</h2>
        <p class="item-description">{{item.item.value}}</p>
      </ion-item>
  </ion-list>
</ion-content>
